h1 {
    color: rgb(84, 23, 239);
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
table {
    text-align: center;
}
td {
    border: 1px solid rgb(120, 85, 209);
}

thead,
tfoot {
    background-color: rgb(183, 173, 246);
    color: #fff;
}